body {
  background-color: #252A34;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

p, h2 {
  color: #EAEAEA; }

button {
  background-color: #252A34;
  border: 1px solid #FF2E63;
  color: #FF2E63; }

button:hover {
  background-color: #FF2E63;
  color: #08D9D6;
  transition: background-color 0.5s;
  transition: color 0.5s; }

textarea {
  display: block;
  resize: none;
  text-align: center;
  background-color: #EAEAEA;
  border: 1px solid black;
  margin: 10px auto; }

.open-logname {
  position: absolute;
  left: 350px;
  top: 5px; }

.exit-btn {
  display: block;
  margin-right: 60px;
  position: absolute;
  font-size: 18px;
  right: -28px;
  top: 2px;
  padding: 10px 17px;
  cursor: pointer; }

/*.exit-btn:hover{
    background-color: $primary-color;
    transition: background-color 0.3s;
}*/
.add-btn {
  display: block;
  font-size: 18px;
  margin-left: 60px;
  position: absolute;
  left: -28px;
  top: 2px;
  padding: 10px 15px;
  cursor: pointer; }

/*.add-btn:hover{
    background-color: $primary-color;
    transition: background-color 0.3s;
}*/
.back-btn {
  display: block;
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 15px;
  cursor: pointer; }

/*.back-btn:hover{
    background-color: $primary-color;
    transition: background-color 0.3s;

}*/
.choose-log {
  display: block;
  font-size: 18px;
  margin-left: 60px;
  position: absolute;
  left: 50px;
  top: 2px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #252A34;
  border: 1px solid #FF2E63;
  color: #FF2E63; }

.choose-log:hover {
  background-color: #FF2E63;
  color: #08D9D6;
  transition: background-color 0.5s;
  transition: color 0.5s; }

.input-log {
  position: absolute;
  left: -5000px; }

.show-log {
  height: 300px;
  width: 740px;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.write-log {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  width: 740px;
  height: 40px;
  font-size: 15px;
  overflow: auto;
  display: block;
  background-color: #EAEAEA;
  border: 1px solid black;
  margin: 10px auto; }

.write-log:focus {
  background-color: white;
  transition: background-color 0.3s; }

.main {
  margin-top: 50px; }

.main > div {
  margin: auto;
  text-align: center; }

.headline {
  position: absolute;
  left: 200px;
  top: 100px;
  font-weight: bold; }

.name-input {
  width: 400px;
  padding-top: 20px;
  font-size: 20px;
  overflow: auto;
  display: block;
  resize: none;
  text-align: center;
  background-color: #EAEAEA;
  border: 1px solid black;
  margin: 150px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.name-input:focus {
  background-color: white;
  transition: background-color 0.3s; }

.hidden {
  display: none; }
